# Ignorar arquivos sensíveis
wp-config.php

.github


# Ignorar todos os arquivos .sql
*.sql

# Ignorar a subpasta 'backup'
backup/

# Ignorar arquivos temporários
*.tmp
*.log
*.bak



deploy-github-actions/



# Ignorar toda a pasta wp-content
deploy-github-actions/wp-content/*

# Permitir rastrear subdiretórios específicos ou arquivos, como index.php
!deploy-github-actions/wp-content/themes/
!deploy-github-actions/wp-content/themes/new-tema/
!deploy-github-actions/wp-content/themes/new-tema/index.php
